.btn {
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border: 0;
  border-radius: 5px;
  display: block;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.322);
  font-weight: bold;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    rgb(12, 235, 235) 0%,
    rgb(32, 227, 178) 51%,
    rgb(12, 235, 235) 100%
  );
  &:hover {
    background-position: 100%;
    color: #fff;
    text-decoration: none;
  }

  &.btn-grad {
    background-image: linear-gradient(
      to right,
      #36d1dc 0%,
      #5b86e5 51%,
      #36d1dc 100%
    );
  }
}

.btn-group {
  display: flex;
  flex: 0 1 auto;

  .btn:not(:last-child) {
    margin-right: 5px;
  }
}
