@media screen and (max-width: 750px) {
  .main {
    flex-direction: column;
  }

  .App {
    width: 80%;
  }
}

@media screen and (max-width: 580px) {
  .modal {
    width: 90%;
  }

  body,
  .input {
    font-size: 14px;
  }
}

@media screen and (max-width: 380px) {
  .modal {
    padding: 1rem 2rem;
  }
}
