* {
  padding: 0;
  margin: 0;
  font-family: "Cutive Mono", monospace;
  color: rgba(0, 0, 0, 0.712);
}

.App {
  margin: 5rem auto;
  width: 700px;
  max-width: 100%;
  padding: 0 1rem;
}

.test-component {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.album {
  flex: 0 1 calc(50% - 2.8rem);
  padding: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.253);
  margin-bottom: 2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
}
.album p {
  flex-basis: 80%;
}

.album:hover {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.164);
}

.thumbail > img {
  width: 100%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  transition: all 0.3s ease;
}

.thumbail > img.loaded {
  filter: blur(0);
}

.thumbail {
  display: flex;
  flex-basis: calc(20% - 8px);
  margin-right: 8px;
}

.loading-album {
  padding: 2rem 2.5rem;
  flex: 0 1 calc(48% - 2.5rem * 2);
  background: rgba(128, 128, 128, 0.103);
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  border: 0;
  padding: 0.5rem 0.7rem;
  text-align: center;
  margin: 0.4rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.btn:hover {
  background: rgba(128, 128, 128, 0.65);
  color: #fff;
}
